body {
   
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    background-color: white
}

a {
    color: blueviolet;
}

h1{
    text-align: center;
    margin-top: 50px;
}

.sign-up-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0 0.1);
}

.name-form {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.username-form {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.email-form {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-form {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-form {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 15px 20px;
    border: none;
}

.submit-form:hover {
    background-color: #4caf50;
}

footer {
text-align: center;
}